.author{
    height: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.author_img{
    width: 100%;
    height: 550px;
    display: flex;
    /* contain: content; */
}
.book_info{
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.title_p{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1B3764;    
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.underline{
    width: 50px;
    height: 3px;
    background: #FFCA42;
}
.p_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #969AA0;    
}
.points{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 20px;

}
.points_item{
    padding-left: 15px;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 77px;
    color: #1B3764;   
}
.line{
    width: 1px;
    height: 98px;
    background: #FFCA42;
}
.points_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px; 
    color: #969AA0;    
}
.contacts{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 10px;
    width: 484px;
    height: 150px;
    background: #1B3764;
}
.code_img{
    width: 120px;
    height: 120px;
    padding: 15px;

}
.contacts_info{
    padding-top: 15px;
    margin-left: 15px;
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info_name{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 0.19px;
    color: #FFCA42;
}
.info_contacts{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 28px; */
    /* letter-spacing: 0.1px; */
    color: #B4C7E7;    
}
