.container{
    
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background-color: #1B3764;
}
.block_image{
    object-fit: cover;

}
.info{
    /* margin-left: 90px; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 20px; */

}
.bookImage{
    display: flex;
    contain: content;
    min-width: 300px;
    height: 450px;
}
.order{
    width: 200px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #f1c40f;
    color: #1B3764;

}
.order_item{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0.57px;
    text-transform: capitalize;
    color: #1B3764;
    text-decoration: none;
    
}
.action{
    margin-bottom: 10px;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
     gap: 20px;
     cursor: pointer;
     
}
.link{
    color: white;
    font-size: 13px;
}
.info_about_p{
    /* padding-left: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* font-size: 14px;  */
}
.info_about_p1{
    
    width: 25px;
    height: 2px;
    
    background: #FFCA42;
}
.info_about_p2{
    
    height: 36px;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.title{
    height: 78px;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 1.3px;
    color: #FFFFFF;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B4C7E7;
}
.info_about{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contain{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.contain_includs{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    height: 29px;

}


.p2{
    padding-left: 5px;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.48px;
    color: #FFFFFF;
}
.p3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #B4C7E7;
}
.p1{
    padding-left: 1px;
    width: 13px;
    height: 13px;
    top: 3px;
    border-radius: 100px;
    background-color: #f1c40f;
}
