.container{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.underline{
    width: 50px;
    height: 3px;
    background: #FFCA42;
}
.awards{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}