.App{
    text-align: center;
    min-width: 1100px;
    /* display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content: space-between;
    gap: 10px;
    width: 60%;
    margin: auto; */
    background-color: #1B3764;
}

/* .footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 350px;
    margin: auto; 
} */